@import "./typography.scss";

/*------------ GLobal Settings-------------*/
.section {
  &-background {
    background: #f4f8fa;
  }
}
.content-wrapper {
  background: #fff;
  padding: 2rem;
  border-radius: 0.5rem;
  margin-top: 50px;
}
.heading-title {
  font-size: 18px;
  margin-bottom: 1rem;
}
img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}
p {
  margin-bottom: 1rem;
}
footer p {
  margin-bottom: 0;
}
