/*------------ Typography Settings-------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  text-transform: capitalize;
  font-family: "Roboto", sans-serif;
  color: #242f65;
}

.font-2 {
  font-family: "Poppins", sans-serif;
}

h1 {
  line-height: 40px;
  font-size: 36px;
}

h2 {
  line-height: 36px;
  font-size: 30px;
}

h3 {
  line-height: 30px;
  font-size: 24px;
}

h4 {
  line-height: 26px;
  font-size: 21px;
}

h5 {
  line-height: 22px;
  font-size: 18px;
}

h6 {
  line-height: 20px;
  font-size: 16px;
}
